<div [formGroup]="importantPaymentsForm">
    
      <p>Movement Reference Number(s) (MRN)</p>
      <small>(Please complete  4662 EX if there is more than one MRN)</small>
                    <div class="input-group">
                      <span class="input-group-addon" id="sizing-addon2">@</span>
                      <input type="text" formControlName="mrn" class="form-control" placeholder="Company registration no" >
                    </div>
                    <br>
       <p>Transport Document Number(s) (TDN)</p> 
                    <div class="input-group">
                      <span class="input-group-addon" id="sizing-addon2">@</span>
                      <input type="text" formControlName="tdn" class="form-control" placeholder="Company registration no" >
                    </div>
                    <br>
       <p>Client Customs Number(s) (CCN)</p> 
                    <div class="input-group">
                      <span class="input-group-addon" id="sizing-addon2">@</span>
                      <input type="text" formControlName="ccn" class="form-control" placeholder="Company registration no" >
                    </div>
                    <br>
                 
</div>