<div [formGroup]="settlementInstructionsForm">
       <p>Account name</p> 
                    <div class="input-group">
                      <span class="input-group-addon" id="sizing-addon2">@</span>
                      <input type="text" formControlName="accountName" class="form-control" placeholder="Company registration no" >
                    </div>
                    <br>
       <p>Account number</p> 
                    <div class="input-group">
                      <span class="input-group-addon" id="sizing-addon2">@</span>
                      <input type="text" formControlName="accountNumber" class="form-control" placeholder="Company registration no" >
                    </div>
                    <br>
       <p>Account type <small>(Please complete for Domestic Trade Loan)</small></p>
                    <div class="input-group">
                      <div *ngFor="let accountType of accountTypes">
                                <label>
                                  <input type="radio" name="accountType" formControlName="accountType" [value]="accountType.value">
                                  {{accountType.display}} 
                       </label>
                      </div>
                    </div>
                    <br>
        <p>For Foreign Currency conversion <small>(Please mark the applicable block)</small></p>
                    <div class="input-group">
                      <div *ngFor="let currencyConversion of currencyConversions">
                                <label>
                                  <input type="radio" name="currencyConversion" formControlName="currencyConversion" [value]="currencyConversion.value">
                                  {{currencyConversion.display}}
                                </label>
                              </div>
                    </div>
                    <br> 
        <p>Contract no</p> 
                    <div class="input-group">
                      <span class="input-group-addon" id="sizing-addon2">@</span>
                      <input type="text" formControlName="settlementContactNum" class="form-control" placeholder="Company registration no" >
                    </div>
                    <br>
        <p>Rate</p> 
                    <div class="input-group">
                      <span class="input-group-addon" id="sizing-addon2">@</span>
                      <input type="text" formControlName="settlementRate" class="form-control" placeholder="Company registration no" >
                    </div>
                    <br>

         <p>Bank</p> 
                    <div class="input-group">
                      <span class="input-group-addon" id="sizing-addon2">@</span>
                      <input type="text" formControlName="settlementBank" class="form-control" placeholder="Company registration no" >
                    </div>
                    <br>
        <p>Branch</p> 
                    <div class="input-group">
                      <span class="input-group-addon" id="sizing-addon2">@</span>
                      <input type="text" formControlName="settlementBranch" class="form-control" placeholder="Company registration no" >
                    </div>
                    <br>
        <p>Other payment method <small>(Please specify)</small> </p> 
                    <div class="input-group">
                      <span class="input-group-addon" id="sizing-addon2">@</span>
                      <input type="text" formControlName="otherPaymentMethod" class="form-control" placeholder="Company registration no" >
                    </div>
                    <br>
     
</div>