 .form-select{
        min-height: 20px;
        padding: 19px;
        margin-bottom: 20px;
        border: 1px solid #00395C;
        border-radius: 4px;
        margin-bottom: 0px;
        width:20em;
        height:3em;

    }
    .form-full-select{
        min-height: 20px;
        padding: 19px;
        margin-bottom: 20px;
        border: 1px solid #00395C;
        border-radius: 4px;
        margin-bottom: 0px;
        width:40em;
        height:3em;

    }
