<div [formGroup]="formHeaderForm">
<style>
  .form-full-select{
        min-height: 20px;
        padding: 19px;
        margin-bottom: 20px;
        border: 1px solid #00395C;
        border-radius: 4px;
        margin-bottom: 0px;
        width:40em;
        height:3em;

    }
</style>
<h4>Please Select Region Type</h4>
     
        <select class="form-full-select" formControlName="tradeLoanSelection">    
                                <option value="Select">Select..</option>
                                <option value="Domestic Trade Loan">Domestic</option>
                                <option value="International Trade Loan">International</option>
        </select>
    
    
    <h4>Please Select A Product</h4>
     <div class="container">
        <select class="form-full-select">    
                                <option value="Select">Select..</option>
                                <option value="Domestic Trade Loan">Trade Loan</option>
                                <option value="International Trade Loan">Guarentee</option>
                                <option value="International Trade Loan">Letters of Credit</option>
        </select>
    </div>
    <h4>Please Select A Product</h4>
    <div class="container">
        <select class="form-select">    
                                <option value="Select">Select..</option>
                                <option value="Domestic Trade Loan">Domestic Trade Loan</option>
                                <option value="International Trade Loan">International Trade Loan</option>
        </select>
        <select class="form-select">    
                                <option value="Select">Select..</option>
                                <option value="Domestic Trade Loan">Domestic Trade Loan</option>
                                <option value="International Trade Loan">International Trade Loan</option>
        </select>
    </div>
    <br>
    <div class="container">
       <button type="button" class="btn btn-default proceed">Proceed</button>
    </div>
</div>