  
@import url("../assets/fonts/fonts.css");
@import url("../assets/css/animate.css");

.dropdown-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 84px;
  height: 100%;
  background-color: #00395C;
  line-height: 76px;
  border-radius: 0 4px 4px 0;
  
}
.dropdown-btn a {
  color:#fff;
}
.purple {
  background-color:#272433;
  
  height:150px;
  
}
.invisible {
  opacity:0;
}
h3 {
    font-family: expertsans-extralight;
    
}

    nav,
    section {
        display: block;
        float: left;
        position: relative;
        width: 100%;
    }
    section {
        margin: 1em 0 0 0;
        overflow: hidden;
    }
  .top-nav {
    
    min-height:50px;
    background: rgba(0,0,0,0.5);
    border-bottom:solid 1px #fff;
  }
  .main-nav {
    
    min-height:50px;
    border-bottom:solid 1px #fff;
    padding: 1em; 
    /*background-color: rgba(227,227,227,0.8);*/
    background-color: transparent;
    min-width: 100%;
    
  }
  .main-nav-logo{
    /*margin:1rem 0 0 3rem;*/
    width:100px;
    padding-right: 5px;
    float:left;
    
  }
  .page-heading {
    font-family: expertsans-extralight;
    color:#fff;
    font-size:2rem;
    line-height:3rem;
  }
      ul {
    
      margin:0px;
      padding:0px;
    }
    ul li{
      decoration:none;
      float:left;
      display: block;
      width:auto ;
      color: #fff;
      line-height:1em;
      padding:0 1em;
      font-family: expertsans-extralight;
      
    }
    ul li:nth-child(-n+3){
      color:rgba(255,255,255,.5);
    }
    .nav-btn{
      /*float:right;*/
      margin: 2em 0 0 0;
    }

       .nav-btn li {
      height:20px;
      padding: 0 1em;
  
  position: relative;
  color: #fff;
  text-decoration: none;
}

.nav-btn li:hover {
  color: #fff;
}
.nav-btn li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.nav-btn li:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
  .menu-btn {
      padding-top:2em;
      float:right;
    }