.centerLoader {
    margin: 30% auto;

}
                        @-webkit-keyframes uil-ring-anim {
                          0% {
                            -ms-transform: rotate(0deg);
                            -moz-transform: rotate(0deg);
                            -webkit-transform: rotate(0deg);
                            -o-transform: rotate(0deg);
                            transform: rotate(0deg);
                          }
                          100% {
                            -ms-transform: rotate(360deg);
                            -moz-transform: rotate(360deg);
                            -webkit-transform: rotate(360deg);
                            -o-transform: rotate(360deg);
                            transform: rotate(360deg);
                          }
                        }
                        @-webkit-keyframes uil-ring-anim {
                          0% {
                            -ms-transform: rotate(0deg);
                            -moz-transform: rotate(0deg);
                            -webkit-transform: rotate(0deg);
                            -o-transform: rotate(0deg);
                            transform: rotate(0deg);
                          }
                          100% {
                            -ms-transform: rotate(360deg);
                            -moz-transform: rotate(360deg);
                            -webkit-transform: rotate(360deg);
                            -o-transform: rotate(360deg);
                            transform: rotate(360deg);
                          }
                        }
                        @-moz-keyframes uil-ring-anim {
                          0% {
                            -ms-transform: rotate(0deg);
                            -moz-transform: rotate(0deg);
                            -webkit-transform: rotate(0deg);
                            -o-transform: rotate(0deg);
                            transform: rotate(0deg);
                          }
                          100% {
                            -ms-transform: rotate(360deg);
                            -moz-transform: rotate(360deg);
                            -webkit-transform: rotate(360deg);
                            -o-transform: rotate(360deg);
                            transform: rotate(360deg);
                          }
                        }
                        @-ms-keyframes uil-ring-anim {
                          0% {
                            -ms-transform: rotate(0deg);
                            -moz-transform: rotate(0deg);
                            -webkit-transform: rotate(0deg);
                            -o-transform: rotate(0deg);
                            transform: rotate(0deg);
                          }
                          100% {
                            -ms-transform: rotate(360deg);
                            -moz-transform: rotate(360deg);
                            -webkit-transform: rotate(360deg);
                            -o-transform: rotate(360deg);
                            transform: rotate(360deg);
                          }
                        }
                        @-moz-keyframes uil-ring-anim {
                          0% {
                            -ms-transform: rotate(0deg);
                            -moz-transform: rotate(0deg);
                            -webkit-transform: rotate(0deg);
                            -o-transform: rotate(0deg);
                            transform: rotate(0deg);
                          }
                          100% {
                            -ms-transform: rotate(360deg);
                            -moz-transform: rotate(360deg);
                            -webkit-transform: rotate(360deg);
                            -o-transform: rotate(360deg);
                            transform: rotate(360deg);
                          }
                        }
                        @-webkit-keyframes uil-ring-anim {
                          0% {
                            -ms-transform: rotate(0deg);
                            -moz-transform: rotate(0deg);
                            -webkit-transform: rotate(0deg);
                            -o-transform: rotate(0deg);
                            transform: rotate(0deg);
                          }
                          100% {
                            -ms-transform: rotate(360deg);
                            -moz-transform: rotate(360deg);
                            -webkit-transform: rotate(360deg);
                            -o-transform: rotate(360deg);
                            transform: rotate(360deg);
                          }
                        }
                        @-o-keyframes uil-ring-anim {
                          0% {
                            -ms-transform: rotate(0deg);
                            -moz-transform: rotate(0deg);
                            -webkit-transform: rotate(0deg);
                            -o-transform: rotate(0deg);
                            transform: rotate(0deg);
                          }
                          100% {
                            -ms-transform: rotate(360deg);
                            -moz-transform: rotate(360deg);
                            -webkit-transform: rotate(360deg);
                            -o-transform: rotate(360deg);
                            transform: rotate(360deg);
                          }
                        }
                        @keyframes uil-ring-anim {
                          0% {
                            -ms-transform: rotate(0deg);
                            -moz-transform: rotate(0deg);
                            -webkit-transform: rotate(0deg);
                            -o-transform: rotate(0deg);
                            transform: rotate(0deg);
                          }
                          100% {
                            -ms-transform: rotate(360deg);
                            -moz-transform: rotate(360deg);
                            -webkit-transform: rotate(360deg);
                            -o-transform: rotate(360deg);
                            transform: rotate(360deg);
                          }
                        }
                        .uil-ring-css {
                          background: none;
                          position: relative;
                          width: 200px;
                          height: 200px;
                        }
                        .uil-ring-css > div {
                          position: absolute;
                          display: block;
                          width: 160px;
                          height: 160px;
                          top: 20px;
                          left: 20px;
                          border-radius: 80px;
                          box-shadow: 0 6px 0 0 #fefefe;
                          -ms-animation: uil-ring-anim 1s linear infinite;
                          -moz-animation: uil-ring-anim 1s linear infinite;
                          -webkit-animation: uil-ring-anim 1s linear infinite;
                          -o-animation: uil-ring-anim 1s linear infinite;
                          animation: uil-ring-anim 1s linear infinite;
                        }
                        