<div [formGroup]="beneficiaryDetailsForm">
    
      <p>RSA resident</p>
                    <div class="input-group">
                      <div *ngFor="let beneficiaryRSAResident of beneficiaryRSAResidents">
                        <label>
                          <input type="radio" name="beneficiaryRSAResident" formControlName="beneficiaryRSAResident" [value]="beneficiaryRSAResident.value">
                          {{beneficiaryRSAResident.display}}
                        </label>
                     </div>
                    </div>
                    <br> 
       <p>Beneficiary name</p> 
                    <div class="input-group">
                      <span class="input-group-addon" id="sizing-addon2">@</span>
                      <input type="text" formControlName="beneficiaryName" class="form-control" placeholder="Company registration no" >
                    </div>
                    <br>
       <p>Street address</p> 
                    <div class="input-group">
                      <span class="input-group-addon" id="sizing-addon2">@</span>
                      <input type="text" formControlName="beneficiaryStreetAddress" class="form-control" placeholder="Company registration no" >
                    </div>
                    <br>
        <p>Country</p> 
                    <div class="input-group">
                      <span class="input-group-addon" id="sizing-addon2">@</span>
                      <input type="text" formControlName="beneficiaryCountry" class="form-control" placeholder="Company registration no" >
                    </div>
                    <br>
        <p>Province/State Zip code</p> 
                    <div class="input-group">
                      <span class="input-group-addon" id="sizing-addon2">@</span>
                      <input type="text" formControlName="beneficiaryProvince" class="form-control" placeholder="Company registration no" >
                    </div>
                    <br>
<div class="col-md-6">
  <div class="row">
         <p>Suburb</p> 
                    <div class="input-group">
                      <span class="input-group-addon" id="sizing-addon2">@</span>
                      <input type="text" formControlName="beneficiarySuburb" class="form-control" placeholder="Company registration no" >
                    </div>
                    <br>
        <p>City</p> 
                    <div class="input-group">
                      <span class="input-group-addon" id="sizing-addon2">@</span>
                      <input type="text" formControlName="beneficiaryCity" class="form-control" placeholder="Company registration no" >
                    </div>
                    <br>
        <p>Postal code</p> 
                    <div class="input-group">
                      <span class="input-group-addon" id="sizing-addon2">@</span>
                      <input type="text" formControlName="beneficiaryPostalCode" class="form-control" placeholder="Company registration no" >
                    </div>
                    <br>
  </div>
</div>
<div class="col-md-6">
  <!--<div class="row" >-->
         <p>Beneficiary bank</p> 
                    <div class="input-group">
                      <span class="input-group-addon" id="sizing-addon2">@</span>
                      <input type="text" formControlName="beneficiaryBank" class="form-control" placeholder="Company registration no" >
                    </div>
                    <br>
        <p>Bank account no/IBAN</p> 
                    <div class="input-group">
                      <span class="input-group-addon" id="sizing-addon2">@</span>
                      <input type="text" formControlName="beneficiaryIBAN" class="form-control" placeholder="Company registration no" >
                    </div>
                    <br>
        <p>Swift code/Routing no</p> 
                    <div class="input-group">
                      <span class="input-group-addon" id="sizing-addon2">@</span>
                      <input type="text" formControlName="beneficiarySwiftCode" class="form-control" placeholder="Company registration no" >
                    </div>
                    <br>
  <!--</div>-->
</div>
        <p>Country from which goods were obtained</p> 
                            <div class="input-group">
                              <span class="input-group-addon" id="sizing-addon2">@</span>
                              <input type="text" formControlName="beneficiaryGoodsCountryOfOrigin" class="form-control" placeholder="Company registration no" >
                            </div>
                            <br>
        <p>Details of charges</p>
                    <div class="input-group"> 
                      <div *ngFor="let beneficiaryChargeDetail of beneficiaryChargeDetails">
                            <span>
                              <input type="radio"  name="beneficiaryChargeDetail" formControlName="beneficiaryChargeDetail" [value]="beneficiaryChargeDetail.value">
                              {{beneficiaryChargeDetail.display}} 
                            </span>
                      </div>
                    </div>
                    <br> 
        <p>Account number to be debited for charges</p> 
                      <div class="input-group">
                              <span class="input-group-addon" id="sizing-addon2">@</span>
                              <input type="text" formControlName="beneficiaryAccountNUMDebited" class="form-control" placeholder="Company registration no" >
                      </div>
                    <br>
      
                 
</div>