<div [formGroup]="borrowerConctactDetailsForm">
                    
      <p>Primary contact person <small>(Full name and surname)</small></p> 
                    <div class="input-group">
                      <span class="input-group-addon" id="sizing-addon2">@</span>
                      <input type="text" formControlName="borrowerPrimaryContactPersonFullName" class="form-control" placeholder="Company registration no" aria-describedby="sizing-addon2">
                    </div>
                    <br>  
      <p>Telephone (W)</p> 
                    <div class="input-group">
                      <span class="input-group-addon" id="sizing-addon2">@</span>
                      <input type="text" formControlName="borrowerTelephoneWork" class="form-control" placeholder="Company registration no" aria-describedby="sizing-addon2">
                    </div>
                    <br>  
      <p>Telephone (C)</p> 
                    <div class="input-group">
                      <span class="input-group-addon" id="sizing-addon2">@</span>
                      <input type="text" formControlName="borrowerTelephoneCell" class="form-control" placeholder="Company registration no" aria-describedby="sizing-addon2">
                    </div>
                    <br>  
      <p>Fax</p> 
                    <div class="input-group">
                      <span class="input-group-addon" id="sizing-addon2">@</span>
                      <input type="text" formControlName="borrowerFax" class="form-control" placeholder="Company registration no" aria-describedby="sizing-addon2">
                    </div>
                    <br> 
      <p>E-mail</p> 
                    <div class="input-group">
                      <span class="input-group-addon" id="sizing-addon2">@</span>
                      <input type="text" formControlName="borrowerEmail" class="form-control" placeholder="Company registration no" aria-describedby="sizing-addon2">
                    </div>
                    <br>    
                   
</div>