<div [formGroup]="financialSurveillanceForm">
       <p>Is a third party related to this payment?</p>
                    <div class="input-group">
                      <div *ngFor="let thirdPartyIndividual of thirdPartyIndividuals">
                                <label>
                                  <input type="radio" name="thirdPartyIndividual" formControlName="thirdPartyIndividual" [value]="thirdPartyIndividual.value">
                                  {{thirdPartyIndividual.display}} 
                       </label>
                      </div>
                    </div>
                    <br>
        <p><small>If “Yes”, complete the Third Party Information (Individual),<br>  2998 EX (b) form.</small></p>
      
        <p>Purpose/Nature of payment</p>
        <label>Provide full and precise details of payment</label> 
        
        <p><small>(for split payments complete  4916 EX which forms part of this document) </small></p>
        
        
        <p>Nature Of Payment</p> 
                    <div class="input-group">
                      <span class="input-group-addon" id="sizing-addon2">@</span>
                      <input type="text" formControlName="natureOfPayment" class="form-control" placeholder="Company registration no" >
                    </div>
                    <br>
                  
        <p>Third party (Entity)</p> 
        <p><small>If “Yes”, complete the Third Party Information [Legal entity, (Including Clubs, Partnerships, Association)]  2998 EX (a) form.</small></p>
        <p>Is a third party related to this payment? (Borrower and Consignor differs)</p>
                    <div class="input-group">
                      <div *ngFor="let thirdPartyEntity of thirdPartyEntitys">
                                <label>
                                  <input type="radio" name="thirdPartyEntity" formControlName="thirdPartyEntity" [value]="thirdPartyEntity.value">
                                  {{thirdPartyEntity.display}} 
                       </label>
                      </div>
                    </div>
                    <br>
        <p>Relationship between parties</p> 
                    <div class="input-group">
                      <span class="input-group-addon" id="sizing-addon2">@</span>
                      <input type="text" formControlName="relationshipBetweenParties" class="form-control" placeholder="Company registration no" >
                    </div>
                    <br>
     
        
</div>