<style>
  .well {
    border:none;
  }
</style>
<div class="top-nav fadeIn">

  <div style="color:#fff; padding:1em; float:left;">
   <ul>
       <li> You are here: Trade Protal / Trade Loan Draw Down </li>
   </ul>
  </div>
  <div style="color:#fff; padding:1em; float:right;">
   <ul>
       <li><i class="fa fa-bell" aria-hidden="true"></i> Andrew Baker</li>
   </ul>
  </div>

</div>
<nav class="main-nav">

  <img class="main-nav-logo" src="../assets/images/logo_w.svg" alt="logo">
 <ul style="padding-top:4px;">
   <li>|</li>
   <li>Trade Portal</li>
   <li>></li>
   <li>Trade Loan</li>
 </ul>
  
  <ul style="float:right;" class="nav-bar">
          <li>Trade Loan</li>
          <li>Letters of Credit</li>
          <li>Guarantees</li>
  </ul>
</nav>
<section>
<div class="container">
  <div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-6">
   <h3>Open Account Trade Loan Drawdown Request</h3>
   <h4 style="color:#fff;">Confidential</h4>
  </div>
  <div class="col-md-3">
   
  </div>
   
  </div>
</div>
</section>

<!--
  FORM START
-->

<form [formGroup]="form" novalidate (ngSubmit)="save(form.value, form.valid)">
<section>
    <div class="row purple">
      <div class="container" style="padding-left:16%;"><h3>Section A</h3></div>
    </div>
</section>

<!--BORROWER DETIALS-->
<style>
  .main-body{
    height: 100%;
    background-color:#F1EEEB;
  }
  label {
    font-size:2rem;
    font-weight: normal;
    color:#00395C;
  }
  label i {
    font-size:3rem;
    line-height:20px;
  
  }
</style>
<div class="main-body"></div>

<section style="margin-top:-30px;">
    <div class="row">
      
    <div class="col-md-2">
    </div>
    <div class="col-md-8 well" style=" background-color:#fff; border-bottom:1px solid rgba(0, 0, 0, 0.22); margin-bottom:0px; z-index:9; box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.22);">
     
     <label> <i class="fa fa-circle-thin"></i> Borrower details</label>
      <div class="dropdown-btn">
          <a data-toggle="collapse" href="#borrowerDetailsCollapse" aria-expanded="false" aria-controls="borrowerDetailsCollapse" style="width:50px; height:auto; float:right;">
            <i class="fa fa-chevron-down"></i>
          </a>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</section>

<!--Borrower Collapse-->

<section style="margin-top:-1em;" class="fadeIn">
<div class="row">
  
    <div class="col-md-2">
    </div>
    <div class="col-md-8 " style="padding-left:0px; padding-right:0px;">

<div class="collapse well" style="background-color:#fff; box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.22);" id="borrowerDetailsCollapse">
  <div class="card card-block" >
    <div class="col-md-6">
    <!-- Borrower Left Column -->

      <h3 style="color:#000;">Borrower Details </h3>
      <p>Please fill in teh correct Details</p>

    </div>
    <div class="col-md-6 well" style="margin-top:20px;">
     <div formArrayName="borrowerDetails">
          <div *ngFor="let borrowerDetails of form.controls.borrowerDetails.controls; let i=index" [formGroupName]="i">
     <!-- Borrower Details -->
                      <borrower-details [borrowerGroup]="form.controls.borrowerDetails.controls[i]"></borrower-details>
     <!---->
          </div>
     </div>
    </div>
    <p class="invisible">.<p>
</div>
 <div class="card card-block" >
            <div class="col-md-6">
              <!-- Borrower Left Column -->
              <h3 style="color:#000;">Borrower Contact Details </h3>	
      	      <p>Please fill in teh correct Details</p>

            </div>
            <div class="col-md-6 well" style="margin-top:20px;">
              <div formArrayName="borrowerContactDetails">
                    <div *ngFor="let borrowerContactDetails of form.controls.borrowerContactDetails.controls; let i=index" [formGroupName]="i">
              <!-- Borrower Contact Details Details -->
                                <borrower-contact-details [borrowerContactGroup]="form.controls.borrowerContactDetails.controls[i]"></borrower-contact-details>
              <!---->
                    </div>
              </div>
            </div>
            <p class="invisible">.<p>
        </div>
</div>
    <div class="col-md-2">
    </div>
  </div>
</div>
</section>

<!--
  BORROWER CONTACT DETIALS
-->

<section>
    <div class="row">
      
    <div class="col-md-2">
    </div>
    <div class="col-md-8 well" style=" background-color:#fff; border-bottom:1px solid rgba(0, 0, 0, 0.22); margin-bottom:0px; z-index:9; box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.22);">
     
     <label> <i class="fa fa-circle-thin"></i> Borrower contact details</label>
      <div class="dropdown-btn">
        <a data-toggle="collapse" href="#BorrowerContactDetailsCollapse" aria-expanded="false" aria-controls="BorrowerContactDetailsCollapse" style="width:50px; height:auto; float:right;">
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</section>

<!--
  Borrower Contact Collapse
-->

<section style="margin-top:-1em;">
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 " style="padding-left:0px; padding-right:0px;">
      <div class="collapse well" style="background-color:#fff; box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.22);" id="BorrowerContactDetailsCollapse">
          <div class="card card-block" >
            <div class="col-md-6">
              <!-- Borrower Left Column -->
              <h3 style="color:#000;">Borrower Contact Details </h3>	
      	      <p>Please fill in teh correct Details</p>

            </div>
            <div class="col-md-6 well" style="margin-top:20px;">
              <div formArrayName="borrowerContactDetails">
                    <div *ngFor="let borrowerContactDetails of form.controls.borrowerContactDetails.controls; let i=index" [formGroupName]="i">
              <!-- Borrower Contact Details Details -->
                                <borrower-contact-details [borrowerContactGroup]="form.controls.borrowerContactDetails.controls[i]"></borrower-contact-details>
              <!---->
                    </div>
              </div>
            </div>
            <p class="invisible">.<p>
        </div>
      </div>
  </div>
  <div class="col-md-2"></div>
</div>

</section>

<!--
  FINANCIAL DETAILS SECTION
-->

<section>
    <div class="row">
      
    <div class="col-md-2">
    </div>
    <div class="col-md-8 well" style=" background-color:#fff; border-bottom:1px solid rgba(0, 0, 0, 0.22); margin-bottom:0px; z-index:9; box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.22);">
     
     <label> <i class="fa fa-circle-thin"></i> Financing details</label>
      <div class="dropdown-btn">
        <a data-toggle="collapse" href="#FinancingDetailsCollapse" aria-expanded="false" aria-controls="FinancingDetailsCollapse" style="width:50px; height:auto; float:right;">
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</section>

<!-- Financing Details Collapse-->
<section style="margin-top:-1em;">
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 " style="padding-left:0px; padding-right:0px;">
      <div class="collapse well" style="background-color:#fff; box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.22);" id="FinancingDetailsCollapse">
          <div class="card card-block" >
            <div class="col-md-6">

              <h3 style="color:#000;">Financing details </h3>
              <p>Please fill in teh correct Details</p>

            </div>
            <div class="col-md-6 well" style="margin-top:20px;">
              <div formArrayName="financialDetails">
                    <div *ngFor="let financialDetails of form.controls.financialDetails.controls; let i=index" [formGroupName]="i">
              <!-- Financing Details -->
                                <financial-details [financialDetailsGroup]="form.controls.financialDetails.controls[i]"></financial-details>
              <!---->
                    </div>
              </div>
            </div>
            <p class="invisible">.<p>
        </div>
      </div>
  </div>
  <div class="col-md-2"></div>
</div>
</section>

<!--
  BENEFICIARY DETAILS
-->

<section>
    <div class="row">
      
    <div class="col-md-2">
    </div>
    <div class="col-md-8 well" style=" background-color:#fff; border-bottom:1px solid rgba(0, 0, 0, 0.22); margin-bottom:0px; z-index:9; box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.22);">
     
     <label> <i class="fa fa-circle-thin"></i> Beneficiary details</label>
      <div class="dropdown-btn">
        <a data-toggle="collapse" href="#BeneficiaryDetailsCollapse" aria-expanded="false" aria-controls="BeneficiaryDetailsCollapse" style="width:50px; height:auto; float:right;">
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</section>

<!-- Beneficiary Details Collapse-->
<section style="margin-top:-1em;">
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 " style="padding-left:0px; padding-right:0px;">
      <div class="collapse well" style="background-color:#fff; box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.22);" id="BeneficiaryDetailsCollapse">
          <div class="card card-block" >
            <div class="col-md-6">

              <h3 style="color:#000;">Beneficiary details </h3>
              <p>Please fill in teh correct Details</p>

            </div>
            <div class="col-md-6 well" style="margin-top:20px;">
              <div formArrayName="beneficiaryDetails">
                    <div *ngFor="let beneficiaryDetails of form.controls.beneficiaryDetails.controls; let i=index" [formGroupName]="i">
              <!-- Beneficiary Details -->
                                <beneficiary-details [beneficiaryDetailsGroup]="form.controls.beneficiaryDetails.controls[i]"></beneficiary-details>
              <!---->
                    </div>
              </div>
            </div>
            <p class="invisible">.<p>
        </div>
      </div>
  </div>
  <div class="col-md-2"></div>
</div>
</section>
 
<!--
  SETTLEMENT INSTRUCTIONS
-->
<section>
    <div class="row">
      
    <div class="col-md-2">
    </div>
    <div class="col-md-8 well" style=" background-color:#fff; border-bottom:1px solid rgba(0, 0, 0, 0.22); margin-bottom:0px; z-index:9; box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.22);">
     
     <label> <i class="fa fa-circle-thin"></i> Settlement Instructions</label>
      <div class="dropdown-btn">
        <a data-toggle="collapse" href="#SettlementInstructionsCollapse" aria-expanded="false" aria-controls="SettlementInstructionsCollapse" style="width:50px; height:auto; float:right;">
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</section>

<!-- Settlement Instructions Collapse-->
<section style="margin-top:-1em;">
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 " style="padding-left:0px; padding-right:0px;">
      <div class="collapse well" style="background-color:#fff; box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.22);" id="SettlementInstructionsCollapse">
          <div class="card card-block" >
            <div class="col-md-6">

              <h3 style="color:#000;">Settlement Instructions </h3>
              <p>Please fill in teh correct Details</p>

            </div>
            <div class="col-md-6 well" style="margin-top:20px;">
              <div formArrayName="settlementInstructions">
                    <div *ngFor="let settlementInstructions of form.controls.settlementInstructions.controls; let i=index" [formGroupName]="i">
              <!-- Settlement Instructions -->
                                <settlement-instructions [settlementInstructionsGroup]="form.controls.settlementInstructions.controls[i]"></settlement-instructions>
              <!---->
                    </div>
              </div>
            </div>
            <p class="invisible">.<p>
        </div>
      </div>
  </div>
  <div class="col-md-2"></div>
</div>
</section>

<!--
  SECTION B
-->

<!--<section>
    <div class="row purple">
      <div class="container" style="padding-left:16%;"><h3>Section B</h3></div>
    </div>
</section>-->

<!--
  FINANCIAL SURVEILLANCE REPORTING DETAILS
-->

<section>
    <div class="row">
      
    <div class="col-md-2">
    </div>
    <div class="col-md-8 well" style=" background-color:#fff; border-bottom:1px solid rgba(0, 0, 0, 0.22); margin-bottom:0px; z-index:9; box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.22);">
     
     <label> <i class="fa fa-circle-thin"></i> Financial Surveillance Reporting details</label>
      <div class="dropdown-btn">
        <a data-toggle="collapse" href="#FinancialSurveillanceReportingDetailsCollapse" aria-expanded="false" aria-controls="FinancialSurveillanceReportingDetailsCollapse" style="width:50px; height:auto; float:right;">
            <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</section>

<!-- Settlement Instructions Collapse-->
<section style="margin-top:-1em;">
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 " style="padding-left:0px; padding-right:0px;">
      <div class="collapse well" style="background-color:#fff; box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.22);" id="FinancialSurveillanceReportingDetailsCollapse">
        <div class="card card-block" >
            <div class="col-md-6">

              <h3 style="color:#000;">Financial Surveillance Reporting details </h3>
              <p>Please fill in teh correct Details</p>

            </div>
            <div class="col-md-6 well" style="margin-top:20px;">
              <div formArrayName="financialSurveillance">
                    <div *ngFor="let financialSurveillance of form.controls.financialSurveillance.controls; let i=index" [formGroupName]="i">
              <!-- Settlement Instructions -->
                                <financial-surveillance [financialSurveillanceGroup]="form.controls.financialSurveillance.controls[i]"></financial-surveillance>
              <!---->
                    </div>
              </div>
            </div>
            <p class="invisible">.<p>
        </div>
        <!---->
        <div class="card card-block" >
            <div class="col-md-6">

              <h3 style="color:#000;">Purpose/Nature of payment</h3>
              <p>I/We confirm that this transaction is executed in terms of my single discretionary allowance (SDA) (Please delete as applicable)</p>
              <p>I/We confirm that this transaction is executed interms of a third party(ies) single discretionary allowance(SDA)(indicated on the  2998)(Please delete as applicable)</p>
            
            </div>
            <div class="col-md-6 well" style="margin-top:20px;">
              <!-- Settlement Instructions -->
              <div [formGroup]="form">
                    <p>Provide full and precise details of payment <small> (for split payments complete  4916 EX which forms part of this document)</small></p> 
                    <div class="input-group">
                      <span class="input-group-addon" id="sizing-addon2">@</span>
                      <input type="text" formControlName="natureOfPayment" class="form-control" placeholder="Company registration no" >
                    </div>
                    <br>
                    
                  
              </div>
              <!---->
            </div>
            <p class="invisible">.<p>
        </div>
        <!---->
         <div class="card card-block" >
            <div class="col-md-6">

              <h3 style="color:#000;">Third party (Entity) </h3>
              <p>If “Yes”, complete the Third Party Information [Legal entity, (Including Clubs, Partnerships, Association)]  2998 EX (a) form.</p>

            </div>
            <div class="col-md-6 well" style="margin-top:20px;">
              <!-- Settlement Instructions -->
              <div [formGroup]="form">
                    <p>Is a third party related to this payment? (Borrower and Consignor differs)</p> 
                    <div *ngFor="let thirdPartyEntity of thirdPartyEntitys">
                      <label>
                        <input type="radio" name="thirdPartyEntity" formControlName="thirdPartyEntity" [value]="thirdPartyEntity.value">
                        {{thirdPartyEntity.display}}
                      </label>
                    </div>
                    <br>
                    
                  
              </div>
              <!---->
              
            </div>
            <p class="invisible">.<p>
        </div>
        <!---->
        <div class="card card-block" >
            <div class="col-md-6">

              <h3 style="color:#000;">Relationship between parties </h3>
              
            </div>
            <div class="col-md-6 well" style="margin-top:20px;">
              <!-- Settlement Instructions -->
              <div [formGroup]="form">
                <p>Purpose/Nature of Payment</p>
                    <div class="input-group">
                      <span class="input-group-addon" id="sizing-addon2">@</span>
                      <input type="text" formControlName="relationshipBetweenParties" class="form-control" placeholder="Company registration no" >
                    </div>
                    <br>

              </div>
              <!---->
              
            </div>
            <p class="invisible">.<p>
        </div>
        <!---->
        <div class="card card-block" >
            <div class="col-md-6">

              <h3 style="color:#000;">Import Payments Only </h3>
             <p>I/We confirm an import permit is issued/required and will be available for inspection purposes/or is not required. (Please delete as applicable)</p>

            </div>
            <div class="col-md-6 well" style="margin-top:20px;">
              <!-- Settlement Instructions -->
              <div formArrayName="importPayments">
                    <div *ngFor="let importPayments of form.controls.importPayments.controls; let i=index" [formGroupName]="i">
              <!-- Settlement Instructions -->
                                <import-payments [importantPaymentsGroup]="form.controls.importPayments.controls[i]"></import-payments>
              <!---->
                    </div>
              </div>
              <!---->
              
            </div>
            <p class="invisible">.<p>
        </div>
        <!---->
        
      </div>
  </div>
  <div class="col-md-2"></div>
</div>
</section>

<!--
  FINANCIAL SURVEILLANCE REPORTING DETAILS
-->

<section style="margin-top:1em;">
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 " style="padding-left:0px; padding-right:0px;">
      <div class="col-md-6"></div>
      <!--<a class="btn btn-primary">Proceed</a>-->
      <div class="col-md-6">
          <button type="submit" style="width:100%" class="btn btn-primary">Submit</button>
      </div>
  </div>
  <div class="col-md-2"></div>
</div>
</section>
</form>

<!--
  FORM OUTPUT DETAILS
-->

<div class="margin-20">
          <div>myForm details:-</div>
          <pre>Is myForm valid?: <br>{{form.valid | json}}</pre>
          <pre>form value: <br>{{form.value | json}}</pre>
</div>