<style>
  .well {
    border:none;
  }

  .form-heading {
        text-align:center;
        margin: 2em 4em;
    }
        .form-heading h3 {
            font-size: 3.325rem;
        }
    

      label {
    font-size:2rem;
    font-weight: normal;
    color:#00395C;
  }
  label i {
    font-size:3rem;
    line-height:20px;
  
  }
  section {
    width:100%;
    
    float:left;
}
.fa-check-circle-o{
    color:#5cb85c;
    font-size:2.5rem!important;
    
}
.section-well{
min-height: 20px;
padding: 19px;
margin-top: 20px;
border: 1px solid #00395C;
border-radius: 4px;
background-color:#fff;
margin-bottom:0px; 
z-index:9;
height: 100%;
}
.content-well{
min-height: 20px;
padding: 19px;
margin-top: 20px;
border: 1px solid #00395C;
border-radius: 4px;
background-color:#fff;
margin-bottom:0px; 
}
.collapse-section{
    margin-top:-1em;
}
    .collapse-well{
        min-height: 20px;
        padding: 19px;
        margin-bottom: 20px;
        border: 1px solid #00395C;
        border-radius: 4px;
        background-color:#fff;
        margin-bottom:0px; 

    }
    .collapse-data-well {
        padding-left:0px!important; 
        padding-right:0px!important;
    }
.form-collapse-bar{
        height:65px;
        width:100%;
        background-color:rgb(245,245,245);
        border-top:1px solid #fff;
        border-bottom:1px solid #cccccc;
        float:left;
        color:#00aeef;
        font-family: expertsans-extralight;
        padding:2em;
    }

        .form-collapse-bar:hover{
            background-color:#fff;
            color:#00395c;
        }

    .form-collapse-content{
        height:auto;
        width:100%;
        background-color:#fff;
        border-bottom:1px solid #cccccc;
        float:left;
        
    }
        .collapse-content-title{
            width:100%;
            float:left;
            line-height:7px;
            text-align: center;
            font-size:3rem;

        }
         
        .collapse-content-arrow{
            float:right;
            margin-left:-1em;
            line-height:7px;
            z-index: 1;
        }
    .input-well {
        margin-top:20px;
        min-height: 20px;
        padding: 19px;
        margin-bottom: 20px;
        border:1px solid rgba(0, 57, 92, .2);
        border-radius: 2px;
   
    }

.dropdown-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 84px;
  height: 100%;
  border-left: 1px solid #00395C;
  line-height: 76px;
  border-radius: 0 4px 4px 0;
  
}
.dropdown-btn a {
    width:50px; 
    height:auto; 
    float:right;
}


.confirmation{
    height:auto;
    border-bottom:1px solid #cccccc;
    background-color:#fff;
    padding:2em;
    float: left;
    width:100%;
    
}
    .confirmation button {
        float: right;
        margin: 0 1em;
    }
    .proceed {
        color:#5cb85c!important;
        border:1px solid #5cb85c!important;
    }
.confirmation-body,
    .instructions-body {
        min-height: 20px;
        padding: 19px;
        margin-top: 20px;
        border: 1px solid #00395C;
        border-radius: 4px;
        background-color:#fff;
        margin-bottom:0px; 

    }
</style>
<div class="top-nav fadeIn">

  <div style="color:#fff; padding:1em; float:left;">
   <ul>
       <li> You are here: Trade Protal / Trade Loan Draw Down </li>
   </ul>
  </div>
  <div style="color:#fff; padding:1em; float:right;">
   <ul>
       <li><i class="fa fa-bell" aria-hidden="true"></i> Andrew Baker</li>
   </ul>
  </div>

</div>
<nav class="main-nav">

  <img class="main-nav-logo" src="../assets/images/logo_w.svg" alt="logo">
 <ul style="padding-top:4px;">
   <li>|</li>
   <li>Trade Portal</li>
   <li>></li>
   <li>Trade Loan</li>
 </ul>
  
  <ul style="float:right;" class="nav-bar">
          <li>Trade Loan</li>
          <li>Letters of Credit</li>
          <li>Guarantees</li>
  </ul>
</nav>
<section>
<div class="container">
  <div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-6">
   <h3>Open Account Trade Loan Drawdown Request</h3>
   <h4 style="color:#fff;">Confidential</h4>
  </div>
  <div class="col-md-3">
   
  </div>
   
  </div>
</div>
</section>

<!--
  FORM START
-->

<form [formGroup]="form" novalidate (ngSubmit)="save(form.value, form.valid)">
<section>
    <div class="row purple">
      <div class="container" style="padding-left:16%;"><h3>Section A</h3></div>
    </div>
</section>

<!--BORROWER DETIALS-->
<style>
  .main-body{
    height: 100%;
    background-color:#F1EEEB;
  }
  label {
    font-size:2rem;
    font-weight: normal;
    color:#00395C;
  }
  label i {
    font-size:3rem;
    line-height:20px;
  
  }
</style>
<div class="form-body animated fadeIn">

<div class="form-heading container">
      <div formArrayName="formHeader">
                    <div *ngFor="let formHeader of form.controls.formHeader.controls; let i=index" [formGroupName]="i">
                <!-- Form Header -->
                                <form-header [formHeaderGroup]="form.controls.formHeader.controls[i]"></form-header>
                <!---->
                    </div>
                </div>
       
</div>

<!--

    BORROWER DETAILS

-->
<section>
   
    <div class="col-md-2">
    </div>
    <div class="col-md-8 section-well">
     
     <label><!-- <i class="fa fa-circle-thin"></i>--><i class="fa fa-check-circle-o" aria-hidden="true"></i> Borrower details</label>
      <div class="dropdown-btn">
          <a data-toggle="collapse" href="#borrowerDetailsCollapse" aria-expanded="false" aria-controls="borrowerDetailsCollapse">
            <i class="fa fa-chevron-down"></i>
          </a>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  
</section>
<!-- Collapse-->
<section class="collapse-section">

            <div class="col-md-2">
            </div>
            <div class="col-md-8 collapse-data-well">

        <div class="collapse collapse-well" id="borrowerDetailsCollapse">
        <article>
            <div class="col-md-6">
            <!-- Left Column -->

            <h3>Borrower Details </h3>
            <p>Please fill in teh correct Details</p>

            </div>
            <div class="col-md-6 input-well">
            

                <div formArrayName="borrowerDetails">
                    <div *ngFor="let borrowerDetails of form.controls.borrowerDetails.controls; let i=index" [formGroupName]="i">
                <!-- Borrower Details -->
                                <borrower-details [borrowerGroup]="form.controls.borrowerDetails.controls[i]"></borrower-details>
                <!---->
                    </div>
                </div>

            </div>
            <p class="invisible">.<p>
        </article>
        <article>
            <div class="col-md-6">
                <!--Left Column -->
                <h3>Borrower Contact Details </h3>	
                <p>Please fill in teh correct Details</p>

            </div>
            <div class="col-md-6 input-well">
                
                <div formArrayName="borrowerContactDetails">
                    <div *ngFor="let borrowerContactDetails of form.controls.borrowerContactDetails.controls; let i=index" [formGroupName]="i">
              
                                <borrower-contact-details [borrowerContactGroup]="form.controls.borrowerContactDetails.controls[i]"></borrower-contact-details>

                    </div>
              </div>

            </div>
            <p class="invisible">.<p>
        </article>
        </div>
            <div class="col-md-2">
            </div>
        </div>

</section>

<!--
    
    FINANCIAL DETAILS

-->

<section>
   
    <div class="col-md-2">
    </div>
    <div class="col-md-8 section-well">
     
     <label> <i class="fa fa-circle-thin"></i><!--<i class="fa fa-check-circle-o" aria-hidden="true"></i>--> Financial details</label>
      <div class="dropdown-btn">
          <a data-toggle="collapse" href="#financialDetailsCollapse" aria-expanded="false" aria-controls="financialDetailsCollapse">
            <i class="fa fa-chevron-down"></i>
          </a>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  
</section>
<!-- Collapse-->
<section class="collapse-section">

            <div class="col-md-2">
            </div>
            <div class="col-md-8 collapse-data-well">

        <div class="collapse collapse-well" id="financialDetailsCollapse">
        <article>
            <div class="col-md-6">
            <!-- Left Column -->

            <h3>Financial Details </h3>
            <p>Please fill in teh correct Details</p>

            </div>
            <div class="col-md-6 input-well">
                
                <div formArrayName="financialDetails">
                    <div *ngFor="let financialDetails of form.controls.financialDetails.controls; let i=index" [formGroupName]="i">
              <!-- Financing Details -->
                                <financial-details [financialDetailsGroup]="form.controls.financialDetails.controls[i]"></financial-details>
              <!---->
                    </div>
              </div>

            </div>
            <p class="invisible">.<p>
        </article>

        </div>
            <div class="col-md-2">
            </div>
        </div>

</section>


<!--
    
    BENEFICAIRY DETAILS

-->
<section>
   
    <div class="col-md-2">
    </div>
    <div class="col-md-8 section-well">
     
     <label> <i class="fa fa-circle-thin"></i><!--<i class="fa fa-check-circle-o" aria-hidden="true"></i>--> Beneficiary details</label>
      <div class="dropdown-btn">
          <a data-toggle="collapse" href="#beneficiaryDetailsCollapse" aria-expanded="false" aria-controls="beneficiaryDetailsCollapse">
            <i class="fa fa-chevron-down"></i>
          </a>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  
</section>
<!-- Collapse-->
<section class="collapse-section">

            <div class="col-md-2">
            </div>
            <div class="col-md-8 collapse-data-well">

        <div class="collapse collapse-well" id="beneficiaryDetailsCollapse">
        <article>
            <div class="col-md-6">
            <!-- Left Column -->

            <h3>Beneficiary Details </h3>
            <p>Please fill in teh correct Details</p>

            </div>
            <div class="col-md-6 input-well">
                
                <div formArrayName="beneficiaryDetails">
                    <div *ngFor="let beneficiaryDetails of form.controls.beneficiaryDetails.controls; let i=index" [formGroupName]="i">
              <!-- Beneficiary Details -->
                                <beneficiary-details [beneficiaryDetailsGroup]="form.controls.beneficiaryDetails.controls[i]"></beneficiary-details>
              <!---->
                    </div>
              </div>

            </div>
            <p class="invisible">.<p>
        </article>

        </div>
            <div class="col-md-2">
            </div>
        </div>

</section>

<!--
    
    SETTLEMENT INSTRUCTIONS

-->
<section>
   
    <div class="col-md-2">
    </div>
    <div class="col-md-8 section-well">
     
     <label> <i class="fa fa-circle-thin"></i><!--<i class="fa fa-check-circle-o" aria-hidden="true"></i>--> Settlement Instructions</label>
      <div class="dropdown-btn">
          <a data-toggle="collapse" href="#SettlementInstructionsCollapse" aria-expanded="false" aria-controls="SettlementInstructionsCollapse">
            <i class="fa fa-chevron-down"></i>
          </a>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  
</section>
<!-- Collapse-->
<section class="collapse-section">

            <div class="col-md-2">
            </div>
            <div class="col-md-8 collapse-data-well">

        <div class="collapse collapse-well" id="SettlementInstructionsCollapse">
        <article>
            <div class="col-md-6">
            <!-- Left Column -->

            <h3>Settlement Instructions</h3>
            <p>Please fill in teh correct Details</p>

            </div>
            <div class="col-md-6 input-well">
                
                <div formArrayName="settlementInstructions">
                    <div *ngFor="let settlementInstructions of form.controls.settlementInstructions.controls; let i=index" [formGroupName]="i">
              <!-- Settlement Instructions -->
                                <settlement-instructions [settlementInstructionsGroup]="form.controls.settlementInstructions.controls[i]"></settlement-instructions>
              <!---->
                    </div>
              </div>

            </div>
            <p class="invisible">.<p>
        </article>

        </div>
            <div class="col-md-2">
            </div>
        </div>

</section>
<!--

    FINANCIAL SURVEILLANCE REPORTING DETAILS

-->
<section>
   
    <div class="col-md-2">
    </div>
    <div class="col-md-8 section-well">
     
     <label> <i class="fa fa-circle-thin"></i><!--<i class="fa fa-check-circle-o" aria-hidden="true"></i>--> Financial Surveillance Reporting details</label>
      <div class="dropdown-btn">
          <a data-toggle="collapse" href="#FinancialSurveillanceCollapse" aria-expanded="false" aria-controls="FinancialSurveillanceCollapse">
            <i class="fa fa-chevron-down"></i>
          </a>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  
</section>
<!-- Collapse-->
<section class="collapse-section">

            <div class="col-md-2">
            </div>
            <div class="col-md-8 collapse-data-well">

        <div class="collapse collapse-well" id="FinancialSurveillanceCollapse">
        <article>
            <div class="col-md-6">
            <!-- Left Column -->

            <h3>Financial Surveillance Reporting details</h3>
            <p>Please fill in teh correct Details</p>
            <p>
          I/We confirm that this transaction is executed in terms of my single discretionary allowance (SDA) (Please delete as applicable)
        </p> 
        <p>
          I/We confirm that this transaction is executed interms of a third party(ies) single discretionary allowance(SDA)(indicated on the  2998)(Please delete as applicable)
        </p>  
            </div>
            <div class="col-md-6 input-well">
                
                <div formArrayName="financialSurveillance">
                    <div *ngFor="let financialSurveillance of form.controls.financialSurveillance.controls; let i=index" [formGroupName]="i">
              <!-- Settlement Instructions -->
                                <financial-surveillance [financialSurveillanceGroup]="form.controls.financialSurveillance.controls[i]"></financial-surveillance>
              <!---->
                    </div>
              </div>

            </div>
            <p class="invisible">.<p>
        </article>
        <article>
            <div class="col-md-6">
            <!-- Left Column -->

            <h3>Import payments only</h3>
            <p>I/We confirm an import permit is issued/required and will be available for inspection purposes/or is not required. (Please delete as applicable)</p>
              
            </div>
            <div class="col-md-6 input-well">
                
                <div formArrayName="financialSurveillance">
                    <div *ngFor="let financialSurveillance of form.controls.financialSurveillance.controls; let i=index" [formGroupName]="i">
              <!-- Settlement Instructions -->
                                <import-payments [importantPaymentsGroup]="form.controls.importPayments.controls[i]"></import-payments>
              <!---->
                    </div>
              </div>

            </div>
            <p class="invisible">.<p>
        </article>

        </div>
           
        </div>

</section>

<!--

 
-->
</div>

<!--
    Confirmation Screen
-->
<section class="confirmation-well">
    
        <div class="col-md-2"></div>
        <div class="col-md-8 confirmation-body">
<!---->
<!--<div class="animated fadeIn"  *ngIf="form.controls.isMessage.value && !form.controls.isSubmitMessage.value">-->
<div class="animated fadeIn">
<!--<h1>Please Check That the details are correct</h1> -->

<br>
<br>

<label>Application date</label>  
<!--<p>{{ form.controls.formHeader[0] | json }}</p>-->


<label>Trade loan selection</label>  
<!--<p>{{ form.controls.tradeLoanSelection.value }}</p>-->


<label>Type of Trade Loan option</label>  
<!--<p>{{ form.controls.financialOption.value }}</p>-->

<h2>Section A</h2>  
<h3>Borrower details</h3>
<div class="row">

    <div class="col-md-6">
        
        <label>Borrower name</label>  
        <h1>{{ form.controls.borrowerDetails.controls[0].controls.borrowerName.value }}</h1>
        
        <label>Company registration no</label>  
        <p>{{ form.controls.borrowerDetails.controls[0].controls.borrowerCompanyRegistration.value }}</p>
        
        <label>Street address</label>  
        <p>{{ form.controls.borrowerDetails.controls[0].controls.borrowerStreetAddress.value }}</p>
        
        <label>Suburb</label>  
        <p>{{ form.controls.borrowerDetails.controls[0].controls.borrowerSuburb.value }}</p>
        
        <label>City:</label>  
        <p>{{ form.controls.borrowerDetails.controls[0].controls.borrowerPostalCode.value }}</p>
        
        <label>Postal code</label>  
        <p>{{ form.controls.borrowerDetails.controls[0].controls.borrowerPostalCode.value }}</p>

    </div>
    <div class="col-md-6">
        
        <label>Primary contact person</label>  
        <p>{{ form.controls.borrowerContactDetails.controls[0].controls.borrowerPrimaryContactPersonFullName.value }}</p>
        
        <label>Telephone (W)</label>  
        <p>{{ form.controls.borrowerContactDetails.controls[0].controls.borrowerTelephoneWork.value }}</p>
        
        <label>Telephone (C)</label>  
        <p>{{ form.controls.borrowerContactDetails.controls[0].controls.borrowerTelephoneCell.value }}</p>
        
        <label>Fax number</label>  
        <p>{{ form.controls.borrowerContactDetails.controls[0].controls.borrowerFax.value }}</p>
        
        <label>E-mail</label>  
        <p>{{ form.controls.borrowerContactDetails.controls[0].controls.borrowerEmail.value }}</p>
    </div>

</div>

<h3>Financing details</h3>

<div class="row">

    <div class="col-md-6">

        <label>Financing/Discount required for</label>  
        <p>{{ form.controls.financialDetails.controls[0].controls.financeDiscountRequirefor.value }} Days</p>

        <label>Proposed drawdown date</label>  
        <p>{{ form.controls.financialDetails.controls[0].controls.proposedDrawdownDate.value }}</p>

        <label>Maturity date</label>  
        <p>{{ form.controls.financialDetails.controls[0].controls.maturityDate.value }}</p>

    </div>
    <div class="col-md-6">

        
        <label>Total amount</label>  
        <p>{{ form.controls.financialDetails.controls[0].controls.totalAmount.value }}</p>
        
        <label>Currency</label>  
        <p>{{ form.controls.financialDetails.controls[0].controls.totalAmountCurrency.value }}</p>
        
        <label>Domestic: Loan amount request in </label>  
        <p>{{ form.controls.financialDetails.controls[0].controls.loanAmountRequestInDomestic.value }}</p>
        
        <label>Cross Border: Loan amount request in</label>  
        <p>{{ form.controls.financialDetails.controls[0].controls.loanAmountRequestInInternational.value }}</p>

    </div>

</div>


<h3>Beneficiary details</h3>

<div class="row">

    <div class="col-md-6">
        
        <label>RSA resident</label>  
        <p>{{ form.controls.beneficiaryDetails.controls[0].controls.beneficiaryRSAResident.value }}</p>
        
        <label>Beneficiary name</label>  
        <p>{{ form.controls.beneficiaryDetails.controls[0].controls.beneficiaryName.value }}</p>
        
        <label>Street address</label>  
        <p>{{ form.controls.beneficiaryDetails.controls[0].controls.beneficiaryStreetAddress.value }}</p>
        
        <label>Suburb</label>  
        <p>{{ form.controls.beneficiaryDetails.controls[0].controls.beneficiarySuburb.value }}</p>
        
        <label>City</label>  
        <p>{{ form.controls.beneficiaryDetails.controls[0].controls.beneficiaryCity.value }}</p>
        
        <label>Postal code</label>  
        <p>{{ form.controls.beneficiaryDetails.controls[0].controls.beneficiaryPostalCode.value }}</p>
        
        <label>Province</label>  
        <p>{{ form.controls.beneficiaryDetails.controls[0].controls.beneficiaryProvince.value }}</p>
        
        <label>City</label>  
        <p>{{ form.controls.beneficiaryDetails.controls[0].controls.beneficiaryCity.value }}</p>
        
        <label>Country</label>  
        <p>{{ form.controls.beneficiaryDetails.controls[0].controls.beneficiaryCountry.value }}</p>
    </div>
    <div class="col-md-6">
        
        <label>Bank</label>  
        <p>{{ form.controls.beneficiaryDetails.controls[0].controls.beneficiaryBank.value }}</p>
        
        <label>Bank account no/IBAN</label>  
        <p>{{ form.controls.beneficiaryDetails.controls[0].controls.beneficiaryIBAN.value }}</p>
        
        <label>Swift code/Routing no</label>  
        <p>{{ form.controls.beneficiaryDetails.controls[0].controls.beneficiarySwiftCode.value }}</p>
      
        <label>Country from which goods/services were obtained</label>  
        <p>{{ form.controls.beneficiaryDetails.controls[0].controls.beneficiaryGoodsCountryOfOrigin.value }}</p>
        
        <label>Account no to be debited for charges</label>  
        <p>{{ form.controls.beneficiaryDetails.controls[0].controls.beneficiaryAccountNUMDebited.value }}</p>
        
        <label>Details of charges</label>  
        <p>{{ form.controls.beneficiaryDetails.controls[0].controls.beneficiaryChargeDetail.value }}</p>

    </div>

</div>


<h3>Settlement Instruction</h3>

<div class="row">

    <div class="col-md-6">

        
        <label>Account name</label>  
        <p>{{ form.controls.settlementInstructions.controls[0].controls.accountName.value }}</p>
        
        <label>Account number</label>  
        <p>{{ form.controls.settlementInstructions.controls[0].controls.accountNumber.value }}</p>
       
        <label>Account type</label>  
        <p>{{ form.controls.settlementInstructions.controls[0].controls.accountType.value }}</p>
  <div *ngIf="form.controls.formHeader.controls[0].controls.tradeLoanSelection.value == 'International Trade Loan'">      
        <label>Currency conversion</label>  
        <p>{{ form.controls.settlementInstructions.controls[0].controls.currencyConversion.value }}</p>
        
        <label>Other payment method</label>  
        <p>{{ form.controls.settlementInstructions.controls[0].controls.settlementContactNum.value }}</p>
        
        <label>Contact no</label>  
        <p>{{ form.controls.settlementInstructions.controls[0].controls.settlementRate.value }}</p>
</div>
    </div>
    <div class="col-md-6">

   <div *ngIf="form.controls.formHeader.controls[0].controls.tradeLoanSelection.value == 'International Trade Loan'">     
        <label>Rate</label>  
        <p>{{ form.controls.settlementInstructions.controls[0].controls.settlementRate.value }}</p>
        
        <label>Bank</label>  
        <p>{{ form.controls.settlementInstructions.controls[0].controls.settlementBank.value }}</p>
        
        <label>Branch</label>  
        <p>{{ form.controls.settlementInstructions.controls[0].controls.settlementBranch.value }}</p>
        
 </div>
    </div>

</div>
<div *ngIf="form.controls.formHeader.controls[0].controls.tradeLoanSelection.value == 'International Trade Loan'">

    <h2>Section B</h2>

    <label>Third party (Individual)</label>  
    <p>{{ form.controls.financialSurveillance.controls[0].controls.thirdPartyIndividual.value }}</p>

    <label>Purpose/Nature of payment</label>  
    <p>{{ form.controls.financialSurveillance.controls[0].controls.natureOfPayment.value }}</p>

    <label>Third party (Entity)</label>  
    <p>{{ form.controls.financialSurveillance.controls[0].controls.thirdPartyEntity.value }}</p>

    <label>Relationship between parties</label>  
    <p>{{ form.controls.financialSurveillance.controls[0].controls.relationshipBetweenParties.value }}</p>

<h2>Import payments only</h2> 
 <label>Movement Reference Number(s) (MRN)</label>  
    <p>{{ form.controls.importPayments.controls[0].controls.mrn.value }}</p>
    
    <label>Transport Document Number(s) (TDN)</label>  
    <p>{{ form.controls.importPayments.controls[0].controls.tdn.value }}</p>

    <label>Client Customs Number(s) (CCN)</label>  
    <p>{{ form.controls.importPayments.controls[0].controls.ccn.value }}</p>

</div>
<!---->

         <hr>

              <article>
                    <div class="form-group">            
                        <!--Buttons-->
                        <button type="button" class="btn btn-default" style="width:48%; margin-right:24px;">
                                                    
                            <label>
                            <input type="checkbox"  name="isMessage" formControlName="isMessage">
                            <span> Return to Form </span>
                            </label>
                            <pre *ngIf="form.controls.test.value" >  {{ form.controls.isMessage.value }} </pre>
                        </button>
                        <div type="button" class="btn btn-default" style="width:48%">
                                                    
                            <label>
                            <input type="checkbox"  name="isSubmitMessage" formControlName="isSubmitMessage">
                            <span> Confirm </span>
                            </label>
                            <pre *ngIf="form.controls.test.value" >  {{ form.controls.isSubmitMessage.value }} </pre>
                        </div>
                        
                    </div>
                </article>
        </div>
    
    <div class="col-md-2"></div>
    </div>
</section>

<!--
    Instructions Screen
-->

<section class="instructions-well">
    <div class="col-md-2"></div>
        <div class="instructions-body col-md-8">
            <p>Trade Operations hereby confirms the successful completion of your trade loan drawdown request.</p>

            <p><strong>Please print, sign and e-mail this request form along with all required documentation to </strong><a href="mailto:dbntrade@.co.za">dbntrade@.co.za</a></p>

            <p>We will respond to your query / request within the agreed SLA turnaround times</p>

            <p>Related documents (If more than one financing request is submitted, please ensure the addendum is submitted with the drawdown request)</p>
            

            <p>
            Kindly note our operating hours are Monday to Friday, 08:00 to 16:30.
            </p>
            <p>
            The Teams are not available on weekends or public holidays.
            </p>
            <p>
            For any further queries:
            <br>
            Please Dial: 031 304 9925
            </p>
            <p>
            Kind regards,
            </p>
            <p>
            Trade Operations
            </p>
            
        </div>
    <div class="col-md-2"></div>
  
</section>

<section class="confirmation">
     <div class="col-md-2"></div>
     <div class="col-md-8">
          
          <!--<button type="button" class="btn btn-success">Submit</button>-->
          <button type="button" class="btn btn-default proceed">Proceed</button>
     </div>
     <div class="col-md-2"></div>
   
</section>

<!--
  FINANCIAL SURVEILLANCE REPORTING DETAILS
-->

<section style="margin-top:1em;">
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 " style="padding-left:0px; padding-right:0px;">
      <div class="col-md-6"></div>
      <!--<a class="btn btn-primary">Proceed</a>-->
      <div class="col-md-6">
          <button type="submit" style="width:100%" class="btn btn-primary">Submit</button>
      </div>
  </div>
  <div class="col-md-2"></div>
</div>
</section>
</form>

<!--
  FORM OUTPUT DETAILS
-->

<div class="margin-20">
          <div>myForm details:-</div>
          <pre>Is myForm valid?: <br>{{form.valid | json}}</pre>
          <pre>form value: <br>{{form.value | json}}</pre>
</div>