<div [formGroup]="borrowerDetails">
    
      <p>Borrower name</p>
                    <div class="input-group">
                      <span class="input-group-addon" id="sizing-addon2">
                            <i class="fa fa-home" aria-hidden="true"></i>
                      </span>
                      <input type="text" formControlName="borrowerName" class="form-control" placeholder="Borrower name" aria-describedby="sizing-addon2">
                    </div>
                    <br> 
       <p>Company registration no</p> 
                    <div class="input-group">
                      <span class="input-group-addon" id="sizing-addon2">@</span>
                      <input type="text" formControlName="borrowerCompanyRegistration" class="form-control" placeholder="Company registration no" aria-describedby="sizing-addon2">
                    </div>
                    <br>
       <p>Street address</p> 
                    <div class="input-group">
                      <span class="input-group-addon" id="sizing-addon2">@</span>
                      <input type="text" formControlName="borrowerStreetAddress" class="form-control" placeholder="Company registration no" aria-describedby="sizing-addon2">
                    </div>
                    <br>
      <p>Suburb</p> 
                    <div class="input-group">
                      <span class="input-group-addon" id="sizing-addon2">@</span>
                      <input type="text" formControlName="borrowerSuburb" class="form-control" placeholder="Company registration no" aria-describedby="sizing-addon2">
                    </div>
                    <br>
       <p>City</p> 
                    <div class="input-group">
                      <span class="input-group-addon" id="sizing-addon2">@</span>
                      <input type="text" formControlName="borrowerCity" class="form-control" placeholder="Company registration no" aria-describedby="sizing-addon2">
                    </div>
                    <br> 
       <p>Postal code</p> 
                    <div class="input-group">
                      <span class="input-group-addon" id="sizing-addon2">@</span>
                      <input type="text" formControlName="borrowerPostalCode" class="form-control" placeholder="Company registration no" aria-describedby="sizing-addon2">
                    </div>
                    <br>  


                   
</div>