<div [formGroup]="financialDetailsForm">
    
      <p>Financing/Discount required for</p>
                    <div class="input-group">
                      <span class="input-group-addon" id="sizing-addon2">
                            <i class="fa fa-home" aria-hidden="true"></i>
                      </span>
                      <input type="text" formControlName="financeDiscountRequirefor" class="form-control" placeholder="Borrower name" >
                    </div>
                    <br>  
       <p>Proposed drawdown date</p> 
                    <div class="input-group">
                      <span class="input-group-addon" id="sizing-addon2">@</span>
                      <input type="text" formControlName="proposedDrawdownDate" class="form-control" placeholder="Company registration no" >
                    </div>
                    <br>
       <p>Maturity date</p> 
                    <div class="input-group">
                      <span class="input-group-addon" id="sizing-addon2">@</span>
                      <input type="text" formControlName="maturityDate" class="form-control" placeholder="Company registration no" >
                    </div>
                    <br>
       <p>Total amount</p> 
                    <div class="input-group">
                      <input type="text" formControlName="totalAmount" class="form-control" placeholder="0.00" >
                      <span class="input-group-addon" id="sizing-addon2">
                          <select formControlName="totalAmountCurrency">
                            <option value="ZAR">ZAR</option>
                            <option value="EUR">EUR</option>
                            <option value="USD">USD</option>
                            <option value="GBP">GBP</option>
                            <option value="JPY">JPY</option>
                          </select>
                      </span>
                    </div>
                    <br>
        <p>Total amount</p> 
                    
                      <label>
                        <input type="checkbox" name="loanAmountRequestInDomestic" formControlName="loanAmountRequestInDomestic">
                        ZAR
                      </label>
                      <!--NGIF this based on domestic/International-->
                      <div *ngFor="let loanAmountRequestInInternational of loanAmountRequestInInternationals">
                          <label style="float:left;">
                            <input type="radio" name="loanAmountRequestInInternational" formControlName="loanAmountRequestInInternational" [value]="loanAmountRequestInInternational.value">
                            {{loanAmountRequestInInternational.display}}
                          </label>
                      </div>
                 
</div>